# server.properties.j2

# Уникальный ID брокера
broker.id={{ item.id }}

# Слушатели
listeners=PLAINTEXT://:{{ item.port }}

# Путь для хранения логов
log.dirs={{ item.log_dir }}

# Количество потоков для обработки запросов и ответов
num.network.threads=3
num.io.threads=8

# Буферы для сокетов
socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600

# Количество разделов на каждый топик
num.partitions=1

# Количество потоков для восстановления логов при старте
num.recovery.threads.per.data.dir=1

# Конфигурации для внутренних топиков Kafka
offsets.topic.replication.factor=1
transaction.state.log.replication.factor=1
transaction.state.log.min.isr=1

# Настройки для flush
log.retention.hours=168

# Подключение к ZooKeeper
zookeeper.connect=localhost:2181
zookeeper.connection.timeout.ms=18000
